*.gem
.bundle/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
Gemfile.lock
_site/
node_modules/
vendor/

# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.dvi
*.log
*.lof
*.lot
*.out
*.toc
*.idx
*.ind
*.ilg
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.maf
*.mtc
*.mtc1

# PDF output
#*.pdf

# PostScript output
*.ps

# Editor backup files
*~
