*.gem
.bundle/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
Gemfile.lock
_site/
node_modules/
vendor/

# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.dvi
*.log
*.lof
*.lot
*.out
*.toc
*.idx
*.ind
*.ilg
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.maf
*.mtc
*.mtc1
*.mtc0
*run.xml
*.bcf
*.pdfsync
*.xdv
auto/
bib/
svg-inkscape/

midterm-2025*

# m1-images/
# m2-images/

# PDF output
#*.pdf

# PostScript output
*.ps

# Editor backup files
*~
