// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
// @import 'schedule';
@import 'staffer';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}


details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}



.main {
  margin: 0 auto;
  max-width: 1200px;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
    margin: 0 auto;
    // margin-left: 180px !important; // match sidebar width
    max-width: 100%; // calc(100% - 180px) !important;    
  }

  dt {
    font-weight: bold;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    + dt {
      margin-top: 1em;
    }
  }
}

.side-bar {
  z-index: 100;
  width: 180px !important;
  position: fixed;
}

.main-content-wrap {
  margin: 0 auto;
  max-width: 100%;
}

.btn-canvas {
  @include btn-color($white, #FF8C00);
}

.btn-echo360 {
  @include btn-color($white, #9400D3);
}

.btn-gradescope {
  @include btn-color($white, #FF0000);
}

.btn-overleaf {
    @include btn-color($white, #228B22);
}

.btn-datahub {
  @include btn-color($white, #2f14ff);
} 


.btn-datahub {
  @include btn-labsolution($white, #831f81);
} 

