// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
// @import 'schedule';
@import 'staffer';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

.side-bar {
  width: 180px !important; // default is 260px, decrease as needed
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
    //margin-left: 180px !important; // match sidebar width
    //max-width: calc(100% - 180px) !important;    
  }

  dt {
    font-weight: bold;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    + dt {
      margin-top: 1em;
    }
  }
}

